{% extends 'post.html' %}

{% load static %}
{% block content %}

<div id="post-form" class="d-flex justify-content-center">
    <form action="{% url 'main:create'%}" method="POST" enctype="multipart/form-data" id="form-box" class="mt-5">
        {%csrf_token%}
        <label for="title" class="form-label">제목 :</label>
        <input type="text" class="form-control" id="title" name="title"/>
        <label for="writer" class="form-label">작성자 :</label>
        <input type="text" class="form-control" id="writer" name="writer"/>
        <label for="image" class="form-label">사진 :</label><br/>
        <input type="file" name="image" id="image"/><br/>
        <label for="body" class="form-label">내용 :</label>
        <textarea type="text" class="form-control" name="body" id="body" cols="80" rows="5"></textarea>
        <button type="submit">제출</button>
    </form>
</div>

{% endblock %}