{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="d-flex justify-content-center">
    <div id="container" class="mt-5">
        <div id="postOne" class="p-3">
            <p id="post-title" class="mb-5 mt-5" style="color: #e6a23b; font-size: 33px;">{{post.title}}</p>
            {% if post.writer %}
                {% if 'user' in post.writer.username %}
                    <p id="post-writer">
                        <a href="{% url 'users:mypage' post.writer.id %}" style="color: black; float: left;">
                            {{ post.writer.last_name }}{{ post.writer.first_name }}
                        </a>
                    </p>
                {% else %}
                    <p id="post-writer">
                        <a href="{% url 'users:mypage' post.writer.id %}" style="color: black; float: left;">
                            {{post.writer}}
                        </a>
                    </p>
                {% endif %}
            {% endif %}
            <p class="ms-3" style="color: #CACACA; float: left;">{{post.pub_date}}</p><br/><br>
            {% if user.is_authenticated %}
                {% if user == post.writer %}
                <span id="update_box" style="width: 30%; position: absolute; left: 48%; top: 280px;">
                    <a href="{% url 'main:delete' post.id %}"
                    class="btn btn-style">삭제</a>
                    <a 
                    href="{% url 'main:postEdit' post.id %}"
                    class="btn btn-style">수정</a>
                </span>
                {% else %}
                {% endif %}
            {% endif %}
            <hr/>
            {% if post.image %}
            <p><img src="{{ post.image.url }}" alt="image" style="width: 56%;"></p>
            {% endif %}
            <p>{{post.body}}</p>
        </div>
        <!-- comment-area -->
        <div id="comment-area">
            {% if user.is_authenticated %}
            <div class="input-group mb-3 mt-5 d-flex justify-content-center">
                <form action="{% url 'main:create_comment' post.id %}" method="POST">
                    {%csrf_token%}
                    <textarea id="content" name="content" class="form-control" placeholder="댓글내용 입력" aria-label="With textarea" style="width: 49rem;
                    display: inline;
                    float: left;"></textarea>
                    <button id="comment-submit" type="submit" class="btn btn-outline-secondary ms-3" style="float: left;
                    display: inline; height: 100%;">작성</button>
                </form>
            </div>
            {% else %}
            {% endif %}
            <ul id="comment-list" class="list-group mt-4">
                {% for comment in comments %}
                <div class="list-group-item list-group-item-action">
                    {% if 'user' in comment.writer.username %}
                    <p style="float: left;">
                        <a href="{% url 'users:mypage' comment.writer.id %}">
                            {{comment.writer.last_name}}{{comment.writer.first_name}}
                        </a>
                    </p>
                    {% else %}
                    <p style="float: left;">
                        <a href="{% url 'users:mypage' comment.writer.id %}">
                            {{comment.writer}}
                        </a>
                    </p>
                    {% endif %}
                    <p style="float: left;">{{comment.created_at}}</p>
                    <div class="default-select" id="default-select" style="float: right;">
                        <span>수정 </span>|
                        <span>삭제</span>
                    </div>
                    <div>{{comment.content}}</div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>  
</section>

{% endblock %}