{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="d-flex justify-content-center">
    <div id="container" class="mt-5">
        <div id="postOne" class="p-3">
            <p id="post-title" class="mb-5 mt-5" style="color: #e6a23b; font-size: 33px;">{{post.title}}</p>
            {% if post.writer %}
                {% if 'user' in post.writer.username %}
                    <p id="post-writer">
                        <a href="{% url 'users:mypage' post.writer.id %}" style="color: black; float: left;">
                            {{ post.writer.last_name }}{{ post.writer.first_name }}
                        </a>
                    </p>
                {% else %}
                    <p id="post-writer">
                        <a href="{% url 'users:mypage' post.writer.id %}" style="color: black; float: left;">
                            {{post.writer}}
                        </a>
                    </p>
                {% endif %}
            {% endif %}
            <p class="ms-3" style="color: #CACACA; float: left;">{{post.pub_date}}</p><br/><br>
            <span href="#" class="like" name="{{ post.id }}" value="Like" style="cursor: pointer;">
                {% if user in post.like_user_set.all %}
                <i class="bi bi-hand-thumbs-up-fill" id="like-icon" style="font-size: 20px;"></i>
                {% else %}
                <i class="bi bi-hand-thumbs-up" id="like-icon" style="font-size: 20px;"></i>
                {% endif %}
                <span id="count-{{ post.id }}" class="alt-services-title font-alt"> 
                    좋아요 {{ post.like_count }}개
                </span>
            </span>
            <span href="#" class="unlike" name="{{ post.id }}" value="unLike" style="cursor: pointer; margin-left: 5px;">
                {% if user in post.unlike_user_set.all %}
                <i class="bi bi-hand-thumbs-down-fill" id="unlike-icon" style="font-size: 20px;"></i>
                {% else %}
                <i class="bi bi-hand-thumbs-down" id="unlike-icon" style="font-size: 20px;"></i>
                {% endif %}
                <span id="count-un{{ post.id }}" class="alt-services-title font-alt"> 
                    싫어요 
                    {% if post.unlike_count == 0 %} 
                    0개 
                    {% else %}
                    {{ post.unlike_count }}개
                    {% endif %}
                </span>
            </span>
            {% if user.is_authenticated %}
                {% if user == post.writer %}
                <span id="update_box" style="width: 30%; position: absolute; left: 48%; top: 280px;">
                    <a href="{% url 'main:delete' post.id %}"
                    class="btn btn-style">삭제</a>
                    <a 
                    href="{% url 'main:postEdit' post.id %}"
                    class="btn btn-style">수정</a>
                </span>
                {% else %}
                {% endif %}
            {% endif %}
            <hr/>
            {% if post.image %}
            <p><img src="{{ post.image.url }}" alt="image" style="width: 56%;"></p>
            {% endif %}
            <p>{{post.body}}</p>
        </div>
        <!-- comment-area -->
        <div id="comment-area">
            {% if user.is_authenticated %}
            <div class="input-group mb-3 mt-5 d-flex justify-content-center">
                <form action="{% url 'main:create_comment' post.id %}" method="POST">
                    {%csrf_token%}
                    <textarea id="content" name="content" class="form-control" placeholder="댓글내용 입력" aria-label="With textarea" style="width: 49rem;
                    display: inline;
                    float: left;"></textarea>
                    <button id="comment-submit" type="submit" class="btn btn-outline-secondary ms-3" style="float: left;
                    display: inline; height: 100%;">작성</button>
                </form>
            </div>
            {% else %}
            {% endif %}
            <ul id="comment-list" class="list-group mt-4">
                {% for comment in comments %}
                <div class="list-group-item list-group-item-action">
                    {% if 'user' in comment.writer.username %}
                    <p style="margin: 0px; font-size: 20px;">
                        <a href="{% url 'users:mypage' comment.writer.id %}">
                            {{comment.writer.last_name}}{{comment.writer.first_name}}
                        </a>
                    </p>
                    {% else %}
                    <p style="margin: 0px; font-size: 20px;">
                        <a href="{% url 'users:mypage' comment.writer.id %}">
                            {{comment.writer}}
                        </a>
                    </p>
                    {% endif %}
                    <p style="float: left; color: #a4a4a4; font-size: 13px; margin: 0px;">{{comment.created_at}}</p>
                    <div class="default-select" id="default-select" style="float: right;">
                        <span>수정 </span>|
                        <span>삭제</span>
                    </div>
                    <br/><br/>
                    <p style="margin-top: -10px;">{{comment.content}}</p>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>  
</section>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(".like").click(function() { // 좋아요를 눌렀을 때 무슨 기능을 하는지 나타내 줌
        var pk = $(this).attr('name');
        $.ajax({
            type: "POST",
            url: "{% url 'main:like_toggle' post.pk %}",
            data: {'pk': pk, 'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType: "json", // 데이터 타입 작성
            success: function(response){
                if(response.like_count == null){
                    alert("로그인이 필요합니다.");
                    window.location.replace("/accounts/login/");
                } else {
                    if (response.result == "like"){
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('bi bi-hand-thumbs-up');
                    } else {
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('bi bi-hand-thumbs-up-fill');
                    }
                    $('#count-{{ post.id }}').html('좋아요'+response.like_count+'개'); // 좋아요 수를 출력
                }
            },
            error:function(request, status, error){
                alert("로그인이 필요합니다.");
                alert("code:"+ request.status + "\n"+ "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    });
    $(".unlike").click(function() { // 좋아요를 눌렀을 때 무슨 기능을 하는지 나타내 줌
        var pk = $(this).attr('name');
        $.ajax({
            type: "POST",
            url: "{% url 'main:unlike_toggle' post.pk %}",
            data: {'pk': pk, 'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType: "json", // 데이터 타입 작성
            success: function(response){
                if(response.unlike_count == null){
                    alert("로그인이 필요합니다.");
                    window.location.replace("/accounts/login/");
                } else {
                    if (response.result == "unlike"){
                        $('#unlike-icon').removeClass();
                        $('#unlike-icon').addClass('bi bi-hand-thumbs-down');
                    } else {
                        $('#unlike-icon').removeClass();
                        $('#unlike-icon').addClass('bi bi-hand-thumbs-down-fill');
                    }
                    $('#count-un{{ post.id }}').html('싫어요'+response.unlike_count+'개'); // 좋아요 수를 출력
                }
            },
            error:function(request, status, error){
                alert("로그인이 필요합니다.");
                alert("code:"+ request.status + "\n"+ "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    });
</script>

{% endblock %}