{% extends 'post.html' %}

{% load static %}
{% block content %}
<section>
    <div id="posts">
        {% if user.is_authenticated %}
        <a href="{% url 'main:postCreate' %}" id="btn-write" class="btn mt-5">
            글 작성하기
        </a>
        {% else %}
        {% endif %}
        <br/><br/><br/><br/>
        <table id="post_detail" class="table table-hover position-absolute top-50 start-50 translate-middle" style="width: 85%;">
            <thead>
                <tr>
                    <th scope="col">글 제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">날짜</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td style="width: 65%;">
                        <a id="post_title" href="{% url 'main:postDetail' post.id%}" style="color: #212529;">
                            {{post.title}}
                        </a>
                    </td>
                    <td style="width: 8%;">
                    {% if post.writer %}
                        {% if 'user' in post.writer.username %}
                            {{ post.writer.last_name }}{{ post.writer.first_name }}
                        {% else %}
                            {{post.writer}}
                        {% endif %}
                    {% endif %}
                    </td>
                    <td style="width: 27%;">
                        {{post.pub_date}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}