{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center">
  <div
    style="
      width: 40%;
      margin-top: 14vh;
      border: 1px solid #212529;
      border-radius: 7px;
      background-color: white;
      color: black;
      padding: 20px;
    "
  >
    <div class="d-flex justify-content-center mt-4 mb-3">
      <h1>로그아웃</h1>
      <form method="POST" action="{% url 'account_logout' %}" id="account">
        <div class="ms-4">
          <p>현재 {{user.username}}으로 로그인되어 있습니다.</p>
          <p>정말로 로그아웃하시겠습니까?</p>
          {% csrf_token %} {{ form.as_p }}
          <input class="btn submit_btn btn-secondary float-end" id="logout" type="submit" value="Logout">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}