body {
  font-family: 'Nanum Gothic', sans-serif;
}

.navbar {
  top: -15px;
}

#title > a {
  color: #ee4d47;
}

#info > a,
#post > a {
  color: #4f4f4f;
  text-decoration: none;
}

section {
  width: 1430px;
}

a {
  text-decoration: none;
  color: #4f4f4f;
}

a > h1 {
  color: black;
}

#btn-contact {
  color: white;
  background-color: #ee4d47;
  font-size: 15px;
  padding: 10px;
}
