section{
    width: 100%;
}
#posts{
    text-align: center;
}

.card{
    float: left;
}

#card-body{
    text-align: center;
}

#postdetail>p, #postdetail>h4{
    color: black;
}

#postOne, #form-box{
    width: 60%;
}

#btn-write{
    color: white;
    background-color: #EE4D47;
    font-size: 15px;
    padding: 10px;
    margin-right: 150px;
    float: right;
}

