section{
    width: 100%;
}
#posts{
    text-align: center;
}

.card{
    float: left;
}
#card-title{
    color: #E6A23B;
}
#card-body{
    text-align: center;
}

#postdetail>p, #postdetail>h4{
    color: black;
}

#container, #form-box{
    width: 60%;
}

#btn-write{
    color: white;
    background-color: #EE4D47;
    font-size: 15px;
    padding: 10px;
    margin-right: 150px;
    float: right;
}

.btn-style{
    color: #E6A23B;
    background-color: #FDF6EC;
    border: 1px #E6A23B solid;
    padding: 10px;
    float: right;
}