section {
  width: 100%;
}
#posts {
  text-align: center;
}
#post-title {
  color: #e6a23b;
}

#post-writer > a {
  color: black;
}

#postdetail > p,
#postdetail > h4 {
  color: black;
}

#container,
#form-box {
  width: 60%;
}

#update_box {
  width: 30%;
  position: absolute;
}

#comment-area #content {
  width: 700px;
  display: inline;
  float: left;
}

#comment-area #comment-submit {
  float: left;
  display: inline;
}

#btn-write {
  color: white;
  background-color: #ee4d47;
  font-size: 15px;
  padding: 10px;
  margin-right: 150px;
  float: right;
}

.btn-style {
  color: #e6a23b;
  background-color: #fdf6ec;
  border: 1px #e6a23b solid;
  padding: 10px;
  float: right;
}

#post_detail {
  width: 85%;
}
