{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container mt-5">
    <div id="user_field" class="ms-4" style="margin-right: 3%;">
        {% if 'user' in user.username %}
        <h1>{{user.last_name}}{{user.first_name}}</h1>
        {% else %}
        <h1>{{user.username}}</h1>
        {% endif %}
        {% if request.user != user %}
            {% if request.user.profile in user.profile.followers.all %}
                <a href="{% url 'users:follow' user.id %}">
                    <button class="btn btn-primary" style="font-size: small;">
                        unfollow
                    </button>
                </a>
            {% else %}
                <a href="{% url 'users:follow' user.id %}">
                    <button class="btn btn-outline-primary" style="font-size: small;">
                        follow
                    </button>
                </a>
            {% endif %}
        {% endif %}
    </div>
    <div id="follow_field" style="height: 90px;">
        <span>팔로워 {{ user.profile.followers.count }}명</span>
        {% for follower in user.profile.followers.all %}
            <a href="{% url 'users:mypage' follower.user.id %}" style="display: inline;">{{ follower.user.username }}</a>
        {% endfor %}<br/>
        <span>팔로잉 {{ user.profile.followings.count }}명</span>
        {% for followings in user.profile.followings.all %}
            <a href="{% url 'users:mypage' followings.user.id %}" style="display: inline;">{{ followings.user.username }}</a>
        {% endfor %}
    </div><br/>
    <div id="user_post_field">
        <table class="table">
            <thead>
                <tr>
                    <th>제목</th>
                    <th class="text-end">작성일</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td style="width: 80%;">
                        <a href="{% url 'main:postDetail' post.id %}">{{post.title}}</a>
                    </td>
                    <td class="text-end">
                        {{post.pub_date}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}